<div class="row align-items-center">
    <h1 style="font-size: 800%; text-align: center">
        404<br>Not Found
    </h1>
    <img style="padding-left: 100px" height="500" src="Images/Fedodo.svg" alt="Fedodo Mascot"/>
</div>